[Unit]
Description=YIFY UI

[Service]
ExecStart=/usr/local/bin/psdash
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=psdash
User=root
Group=root

[Install]
WantedBy=multi-user.target%