[Unit]
Description=psdash in web mode

[Service]
{% if ('agent' == psdash_mode) and (psdash_master is defined) %}
ExecStart=/usr/local/bin/psdash -a --register-to {{ psdash_master }}
{% else %}{# `psdash_mode` should equal 'web' #}
ExecStart=/usr/local/bin/psdash -p {{ psdash_port }}
{% endif %}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=psdash
User=root
Group=root
Environment="PSDASH_CONFIG=/etc/systemd/system/psdash.cfg.py"

[Install]
WantedBy=multi-user.target%
